Confluence REST API client
Copyright 2019 Joern Muehlencord

This product is based on software originally developed by Christian Schulze (c.schulze@micromata.de) at Micromata GmbH, Martin Böhmer and Luca Tagliani
See headers of source files for details.

This product makes use of the following software libraries:

#GENERATED_NOTICES#